TWEET_TOKENS_EMBS_PATHS:
    - ../tweets_embeddings/ru_tweets_tokens_embs_my.txt
    - ../tweets_embeddings/en_tweets_tokens_embs_my.txt
# In tweet embeddings file train tweets are followed by test
# tweets and test tweets are followed by dev tweets
# 5480 - ru test, 7002 - dev
# 17737 - en test, 22664 - dev
TEST_START_LINE_IDS:
    - 5480
    - 17737
DEV_START_LINE_IDS:
    - 7002
    - 22664
# -1 - keep all
NEGATIVE_EXAMPLES_RATIOS:
    - -1
    - -1
LABELS_FILES:
    - ../new_corpora/all_tweets_ru/all_tweets_ru.tsv
    - ../new_corpora/all_tweets_en/all_tweets_en.tsv

EMBEDDING_SIZE: 768
# -1 to infere max length from data
MAX_TWEET_LENGTH: -1
BATCH_SIZE: 256
NUM_EPOCHS: 3
DECISION_THRESHOLD: 0.5
CONVOLUTION_KERNELS: 5 10
RESULTS_DIR: ../ruen/bert_cnn_results
TEST_RESULTS_FNAME: test_res_ruen_full_ep3_256_10.csv
DEV_RESULTS_FNAME: dev_res_ruen_full_ep3_256_10.csv


